<div class="panel panel-default" style="max-width:500px;margin:auto;margin-top:10%;">
    <div class="panel-body">
        <div class="row">
            <img src="../images/pexels-victor-freitas-2261477.jpg" style="padding:0 15px;width:100%;height:auto;" alt="...">
        </div>
        <br>
        <form action="/login" method="POST">
            <div class="input-group">
                <span class="input-group-addon">用户名：</span>
                <input type="text" class="form-control" placeholder="请输入用户名">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">密&nbsp;&nbsp;&nbsp;码：</span>
                <input type="password" class="form-control" placeholder="请输入密码">
            </div>
            <br>
            <div class="input-group" role="group" style="margin:auto;">
                <button type="reset" class="btn btn-default">重置</button>
                &nbsp;
                <button type="submit" class="btn btn-primary">登录</button>
            </div>
        </form>
    </div>
</div>